#!/usr/bin/make -f

# include /usr/share/cdbs/1/rules/debhelper.mk
# include /usr/share/cdbs/1/class/autotools.mk
# include /usr/share/cdbs/1/rules/patchsys-quilt.mk
# include /usr/share/cdbs/1/rules/autoreconf.mk

%:
	# build gtest (libs are not distributed)
	cd /usr/src/gtest
	sudo cmake .
	sudo make
	sudo mv libg* /usr/lib/
	
	# build project
	PROJECT_DIR := $(shell cwd)
	cd ${PROJECT_DIR}
	./bootstrap
	dh $@
